/* ----------------------------------------------------- Misc */
.text-shadow {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.flashes h4 {
    line-height: 2;
}

/* ----------------------------------------------------- Fonts */

@font-face {
    font-family: 'countach';
    src: url(../fonts/Countach-Italic-TRIAL-BF63c5f2084b0d3.otf) format('opentype');
}

.countach-font {
    font-family: 'countach', sans-serif;
}

@font-face {
    font-family: 'countach-b';
    src: url(../fonts/Countach-BoldItalic-TRIAL-BF63c5f2076e1b8.otf) format('opentype');
}

.countach-bold {
    font-family: 'countach-b', sans-serif;
}

@font-face {
    font-family: 'countach-l';
    src: url(../fonts/Countach-LightItalic-TRIAL-BF63c5f208aed97.otf) format('opentype');
}

.countach-light {
    font-family: 'countach-l', sans-serif;
}
.white-font {
    color: white;
}

/* ----------------------------------------------------- Nav-bar */

.brand-logo{
    height: 2rem;
    margin: 0.2rem 0 0 0;
}

.nav-text {
    font-size: 2rem;
}

.sidenav li > a {
    color: white;
    font-size: 1.5rem;
}

/* ----------------------------------------------------- Landing */

.landing-bgimg {
    background-image: url(../images/main-landing-bg-m.jpg);
    background-repeat: no-repeat;
    height: 950px;

}

.header-font {
    font-family: 'countach', sans-serif;
    color: white;
}

.landing-welcome {
    height: 60px;
    margin: 0 0 0 1rem;
    font-size: 50px;
}

.landing-header-div {
    margin-top: 1.5rem;
}

.landing-header {
    font-size: 75px;
    margin: 0 0 0 1rem;
}

.landing-signup-div {
    margin: 0 0 0 1rem;
}

.landing-signup {
    padding-top: 5rem
}

.landing-login-div {
    margin: 0 0 0 1rem;
}

.landing-login {
    padding-top: 1rem;
    text-align: center;
}

.landing-message {
    margin-top: 0rem;
}

.main-btn {
    width: 30%;
    font-size: 20px;
    border-radius: 50px;
}

/* ----------------------------------------------------- Sign up */

.sign-up-header {
    margin: 2em 0 2rem 0;
    padding: 4px;
}

.card-panel {
    margin: 0;
}

/* ----------------------------------------------------- Profile */

.profile-un {
    font-size: 4rem;
    margin: 2rem 0 0 0.5rem;
}

.profile-email {
    font-size: 2rem;
    margin: 1rem 0 5rem 0.5rem;
}

.profile-btn {
    margin: 3rem 0 0 0;
}

.profile-update {
    border-radius: 50px;
    font-size: 16px;
}

#create-item {
    width: 8em;
    font-size: 20px;
}

/* ----------------------------------------------------- Login */

.login-bg {
    height: 50em;
}

.login-link {
    font-size: 20px;
}

/* ----------------------------------------------------- Media Query's */


@media (min-width: 576px) {

/* ------------------------- Landing */

    .landing-bgimg {
        background-image: url(../images/main-landing-bg-t.jpg);
    }

    .landing-welcome {
        height: 80px;
        margin: 0 0 0 5rem;
        font-size: 70px;
    }
    
    .landing-header-div {
        margin: 3rem 0 0 4rem;
        width: 50rem;
    }

    .landing-header {
        font-size: 90px;
        margin: 0 0 0 4rem;
    }

    .landing-login {
        padding-top: 20rem;
    }

    .landing-signup {
        padding-top: 20rem;
    }

    /* ----------------------------------------------------- Profile */

.profile-un {
    margin: 3rem 0 0 1rem;
}

.profile-email {
    margin: 1rem 0 5rem 1rem;
}

}

@media (min-width: 992px) {

/* ------------------------- Landing */

    .landing-bgimg {
        background-image: url(../images/main-landing-bg-d.jpg);
    }

    .landing-login {
        padding-top: 10rem;
    }

    .landing-signup {
        padding-top: 10rem;
    }
}