/* ----------------------------------------------------- Misc */
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

/* ----------------------------------------------------- Fonts */

@font-face {
    font-family: 'countach';
    src: url(../fonts/Countach-Italic-TRIAL-BF63c5f2084b0d3.otf) format('opentype');
}

.countach-font {
    font-family: 'countach', sans-serif;
}

.white-font {
    color: white;
}

/* ----------------------------------------------------- Nav-bar */

.brand-logo{
    height: 2rem;
    margin: 0.2rem 0 0 0;
}

.nav-text {
    font-size: 2rem;
}

/* ----------------------------------------------------- Landing */

.landing-bgimg {
    background-image: url(../images/main-landing-bg-m.jpg);
    background-repeat: no-repeat;
    height: 950px;

}

.header-font {
    font-family: 'countach', sans-serif;
    color: white;
}


.landing-header-div {
    padding-top: 3rem;
    width: 10rem;
}

.landing-header {
    font-size: 75px;
    margin: 0 0 0 1rem;
}

.landing-signup-div {
    padding-top: 2rem;
    margin: 0, 0, 0, 1rem ;
}

.landing-signup {
    text-align: center;
}

.landing-login-div {
    padding-top: 2rem;
    margin: 0, 0, 0, 1rem ;
}

.landing-login {
    text-align: center;
}

.landing-message {
    margin-top: 10rem;
}

/* ----------------------------------------------------- Sign up */

.sign-up-header {
    margin: 2em 0 0 0;
    padding: 4px;
}

.card-panel {
    margin: 0;
}

/* ----------------------------------------------------- Profile */

.profile-un {
    font-size: 4rem;
}

.profile-update {
    border-radius: 50px;
}

/* ----------------------------------------------------- Login */

.login-bg {
    height: 50em;
}

/* ----------------------------------------------------- Media Query's */


@media (min-width: 576px) {
    .landing-bgimg {
        background-image: url(../images/main-landing-bg-t.jpg);
    }
}

@media (min-width: 992px) {
    .landing-bgimg {
        background-image: url(../images/main-landing-bg-d.jpg);
    }
}