{% extends "base.html" %}
{% block content %}
    <div class="login-bg">
        <!-- Page header -->
        <div class="row">
            <h1 class="center-align create-header countach-font purple-text">Enter your weapons information below!</h1>
            <p class="center-align create-text countach-light purple-text text-darken-2">Please make sure all fields are filled out and the provided
                information is as seen on the in-game item and accurate, as you will not be able to edit once the item is listed.</p>
            <!-- Create Item Form -->
            <form class="col s12 m8 offset-m2 create-form" method="POST" action="{{ url_for('create_item') }}">
                <div class="card-panel grey darken-3">
                    <!-- item name input -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="prefix purple-text text-accent-2"></i>
                            <input id="item-name" name="item-name" type="text" class="validate white-text" required>
                            <label for="item-name" class="countach-font">Item Name:</label>
                        </div>
                    </div>
                    <!-- item score input -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="prefix purple-text text-accent-2"></i>
                            <input id="item-score" name="item-score" type="text" class="validate white-text" required>
                            <label for="item-score" class="countach-font">Item Score:</label>
                        </div>
                    </div>
                    <!-- damage input -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="prefix purple-text text-accent-2"></i>
                            <input id="damage" name="damage" type="text" class="validate white-text" required>
                            <label for="damage" class="countach-font">Damage:</label>
                        </div>
                    </div>
                    <!-- accuracy input -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="prefix purple-text text-accent-2"></i>
                            <input id="accuracy" name="accuracy" type="text" class="validate white-text" required>
                            <label for="accuracy" class="countach-font">Accuracy:</label>
                        </div>
                    </div>
                    <!-- handling input -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="prefix purple-text text-accent-2"></i>
                            <input id="handling" name="handling" type="text" class="validate white-text" required>
                            <label for="handling" class="countach-font">Handling:</label>
                        </div>
                    </div>
                    <!-- reload time input -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="prefix purple-text text-accent-2"></i>
                            <input id="reload-time" name="reload-time" type="text" class="validate white-text" required>
                            <label for="reload-time" class="countach-font">Reload Time:</label>
                        </div>
                    </div>
                    <!-- fire rate input -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="prefix purple-text text-accent-2"></i>
                            <input id="fire-rate" name="fire-rate" type="text" class="validate white-text" required>
                            <label for="fire-rate" class="countach-font">Fire Rate:</label>
                        </div>
                    </div>
                    <!-- magazine size input -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="prefix purple-text text-accent-2"></i>
                            <input id="magazine-size" name="magazine-size" type="text" class="validate white-text" required>
                            <label for="magazine-size" class="countach-font">Magazine Size:</label>
                        </div>
                    </div>
                    <!-- elemental input -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="prefix purple-text text-accent-2"></i>
                            <input id="elemental" name="elemental" type="text" placeholder='If yes, state the type(s) with one letter. i.e "F" for fire or "I" for ice. If no type NO ' class="validate white-text countach-light" required>
                            <label for="elemental" class="countach-font">Elemental:</label>
                        </div>
                    </div>
                    <!-- for trade input -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="prefix purple-text text-accent-2"></i>
                            <input id="for-trade" name="for-trade" type="text" placeholder='If you want money for your item simply type NO. If there are items you wish to trade for, put YES or the name of the item you want.' class="validate white-text countach-light" required>
                            <label for="for-trade" class="countach-font">For Trade:</label>
                        </div>
                    </div>
                    <!-- form submit (create item) button-->
                    <div class="row">
                        <button type="submit" class="col s12 btn-large purple accent-3 countach-font">
                            Create Item
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}