{% extends "base.html" %}
{% block content %}
<div class="login-bg">
    <div class="row">
        <h3 class="center-align sign-up-header countach-font blue darken-4 white-font text-shadow">Sign up!</h3>
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('update-details') }}">
            <div class="card-panel grey darken-3">
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-user-cog prefix light-blue-text text-darken-4"></i>
                        <input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" value="{{ user.username }}" class="validate" required>
                        <label for="username white-font countach-font">Username</label>
                    </div>
                </div>
                <!-- email -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-envelope-open-text prefix light-blue-text text-darken-4"></i>
                        <input id="email" name="email" value="(( user.email ))" type="text" class="validate" required>
                        <label for="email white-font countach-font">Email Address</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-lock prefix light-blue-text text-darken-4"></i>
                        <input id="password" name="password" type="password" value="{{ user.password }}"  minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password white-font countach-font">Password</label>
                    </div>
                </div>
                <!-- update details -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                        Update details <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}