{% extends "base.html" %}
{% block content %}

    <div class="row">
        <h1 class="center-align sign-up-header countach-bold purple-text">Log In!</h1>
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel grey darken-3">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fa-solid fa-user prefix purple-text text-accent-2"></i>
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate white-font" required>
						<label for="username" class="countach-light">Username</label>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fa-solid fa-user-lock prefix purple-text text-accent-2"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate white-font" required>
                        <label for="password" class="countach-light">Password</label>
                    </div>
                </div>
                <!-- login -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large purple accent-3 countach-font darken-4 text-shadow">
                        Log In <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align purple-text countach-light login-link">
                Not made an account yet?
                <a href="{{ url_for('sign_up') }}" class="">Sign Up here!</a>
            </p>
        </div>
    </div>

{% endblock %}