{% extends "base.html" %}
{% block content %}

    <div class="row">
        <h3 class="center-align sign-up-header countach-font blue darken-4 white-font text-shadow">Log In!</h3>
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel grey darken-3">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fa-solid fa-user-gear prefix light-blue-text text-darken-4"></i>
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username" class="white-font">Username</label>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fa-solid fa-user-lock prefix light-blue-text text-darken-4"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password" class="white-font">Password</label>
                    </div>
                </div>
                <!-- login -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                        Log In <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align white-font countach-font">
                New Here?
                <a href="{{ url_for('sign_up') }}" class="">Sign Up here!</a>
            </p>
        </div>
    </div>

{% endblock %}