{% extends "base.html"%}
{% block content %}

    <div class="landing-bgimg">
        <div class="landing-header-div countach-font">
            <h1 class="landing-header white-font">Welcome to Moxxi's Market!</h1>
        </div>
        <div class="landing-signup-div countach-font">
            <h2 class="landing-signup white-font">New here?<br>SIGN UP</h2>
        </div>
        <div class="landing-login countach-font">
            <h2 class="landing-login white-font">Have an account? LOGIN</h2>
        </div>
        <p class="landing-message">You MUST have an account and be logged in before</p>
    </div>

    <!-- {% for item in items_for_sale %}
        {{ item.item_name }}<br>
        {{ item.item_score }}<br>
        {{ item.elemental }}<br>
        {{ item.damage }}<br>
        {{ item.accuracy }}<br>
        {{ item.handling }}<br>
        {{ item.reload_time }}<br>
        {{ item.fire_rate }}<br>
        {{ item.magazine_size }}<br>
    {% endfor %} -->

{% endblock %}
