{% extends "base.html"%}
{% block content %}

    <div class="row landing-bgimg">
        <div class="col s12 landing-header-div countach-font">
            <p class="landing-welcome countach-light white-text text-shadow">Welcome to<h1 class="landing-header white-text text-shadow">Moxxi's Market!</h1></p>
        </div>
        <div class="col s12 m6 landing-signup-div countach-font center-align">
            <h2 class="landing-signup white-text text-shadow">First time Sugar?</h2>
            <a href="{{ url_for('sign_up') }}" class="main-btn countach-light purple accent-2 waves-light btn" id="m-signup-btn">SIGN UP!</a>
        </div>
        <div class="col s12 m6 landing-login-div countach-font center-align">
            <h2 class="landing-login white-text text-shadow">Regular, huh</h2>
            <a href="{{ url_for('login') }}" class="main-btn countach-light purple accent-2 waves-light btn" id="m-login-btn">LOG IN</a>
        </div>
    </div>

    <div class="row user-items">
        <h3 class="col s12 countach-bold center-align purple-text text-accent-4 landing-items-header">Here's whats Fresh</h3>
        {% for item in last_six_items %}
            <div class="col s5 m3 l2 item-card card-panel grey darken-3">
                <p class="item-card-title item-bb center-align purple accent-3 countach-font">{{ item.item_name }}</p>
                <p class="col s6 item-value-l item-bb item-br center-align countach-light white-text">Score</p>
                <p class="col s6 item-value-r item-bb item-bl center-align countach-light white-text text-accent-2">{{ item.item_score }}</p>
                <p class="col s6 item-value-l item-bb item-br center-align countach-light white-text">Damage</p>
                <p class="col s6 item-value-r item-bb item-bl center-align white-text countach-light">{{ item.damage }}</p>
                <p class="col s6 item-value-l item-bb item-br center-align countach-light white-text">Elemental</p>
                <p class="col s6 item-value-r item-bb item-bl center-align white-text countach-light">{{ item.elemental }}</p>
                <p class="col s6 item-value-l item-bb item-br center-align countach-light white-text">Accuracy</p>
                <p class="col s6 item-value-r item-bb item-bl center-align white-text countach-light">{{ item.accuracy }}</p>
                <p class="col s6 item-value-l item-br center-align countach-light white-text">Magazine Size</p>
                <p class="col s6 item-value-r item-bl center-align white-text countach-light">{{ item.magazine_size }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}


