{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
        <h1 class="market-header countach-bold center-align purple-text">Step right Up!</h1>
        <p class="market-text countach-light center-align purple-text">You must be signed in to begin purchasing/trading items. Upon clicking the "interested" button
            on the full item card, an email will be sent to you and the person that has listed the item. From there you can discuss payment/trade between you,
            just remember to remove your item once it has been finalised which you can do by clicking the "remove" button found on the full item card of YOUR items.
        </p>
    </div>
</div>
<!-- item card(s) -->
<div class="row">
    {% for item in items_for_sale %}
        <div class="col s5 m3 l2 item-card card-panel grey darken-3">
            <p class="item-card-title item-bb center-align purple accent-3 countach-font">{{ item.item_name }}</p>
            <p class="col s6 item-value-l item-bb item-br center-align countach-light white-text">Score</p>
            <p class="col s6 item-value-r item-bb item-bl center-align countach-light white-text text-accent-2">{{ item.item_score }}</p>
            <p class="col s6 item-value-l item-bb item-br center-align countach-light white-text">Damage</p>
            <p class="col s6 item-value-r item-bb item-bl center-align white-text countach-light">{{ item.damage }}</p>
            <p class="col s6 item-value-l item-bb item-br center-align countach-light white-text">Elemental</p>
            <p class="col s6 item-value-r item-bb item-bl center-align white-text countach-light">{{ item.elemental }}</p>
            <p class="col s6 item-value-l item-bb item-br center-align countach-light white-text">Accuracy</p>
            <p class="col s6 item-value-r item-bb item-bl center-align white-text countach-light">{{ item.accuracy }}</p>
            <p class="col s6 item-value-l item-br center-align countach-light white-text">Magazine Size</p>
            <p class="col s6 item-value-r item-bl center-align white-text countach-light">{{ item.magazine_size }}</p>
            <!-- Modal button -->
            <a class="col s12 countach-font purple btn modal-trigger m-item-btn" href="#modal{{ item._id }}">View Details</a>

            <!-- Modal Structure -->
            <div id="modal{{ item._id }}" class="modal grey darken-3">
                <div class="modal-content">
                    <p class="item-card-title item-bb center-align purple accent-3 countach-font">{{ item.item_name }}</p>
                    <p class="col s6 item-value-l item-bb item-br center-align countach-light white-text">Score</p>
                    <p class="col s6 item-value-r item-bb item-bl center-align countach-light white-text text-accent-2">{{ item.item_score }}</p>
                    <p class="col s6 item-value-l item-bb item-br center-align countach-light white-text">Damage</p>
                    <p class="col s6 item-value-r item-bb item-bl center-align white-text countach-light">{{ item.damage }}</p>
                    <p class="col s6 item-value-l item-bb item-br center-align countach-light white-text">Elemental</p>
                    <p class="col s6 item-value-r item-bb item-bl center-align white-text countach-light">{{ item.elemental }}</p>
                    <p class="col s6 item-value-l item-bb item-br center-align countach-light white-text">Accuracy</p>
                    <p class="col s6 item-value-r item-bb item-bl center-align white-text countach-light">{{ item.accuracy }}</p>
                    <p class="col s6 item-value-l item-br center-align countach-light white-text">Magazine Size</p>
                    <p class="col s6 item-value-r item-bl center-align white-text countach-light">{{ item.magazine_size }}</p>
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}