{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12">
                <h1 class="profile-un countach-font">
                    {{ username }}'s <i class="countach-light">Profile</i>
                </h1>
                <p class="profile-email countach-font">
                    {{ email }}
                </p>
        </div>
        <div class="col s12 center-align">
            <h3 class="countach-light create-item-header">Create new item</h3>
            <a class="profile-update countach-light purple accent-2 waves-light btn" id="create-item"><i class="fa-solid fa-plus white-text"></i></a>
        </div>
        <div class="col s6 center-align profile-btn">
            <h4 class="countach-light">Update details</h4>
            <a href="{{ url_for('edit_details') }}" class="profile-update countach-font purple accent-2 waves-light btn"><i class="fa-solid fa-gear white-text"></i></a>
        </div>
        <div class="col s6 center-align profile-btn">
            <h4 class="countach-light">Delete Account</h4>
            <a href="{{ url_for('delete_user') }}" class="profile-update countach-light purple accent-2 waves-light btn"><i class="fa-solid fa-trash white-text"></i></a>
        </div>
    </div>

{% endblock %}