{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
                <h1 class="profile-un countach-bold">
                    {{ username }}'s Profile
                </h1>
                <p class="profile-email countach-font">
                    user email address
                </p>
        </div>
        <div class="col s12 center-align">
            <h3 class="countach-light create-item-header">Create new item</h3>
            <a class="profile-update countach-light purple accent-2 waves-light btn" id="create-item">button</a>
        </div>
        <div class="col s6 center-align">
            <h4 class="countach-light">Update details</h4>
            <a class="profile-update countach-font purple accent-2 waves-light btn">button</a>
        </div>
        <div class="col s6 center-align">
            <h4 class="countach-light">Delete Account</h4>
            <a class="profile-update countach-light purple accent-2 waves-light btn">button</a>
        </div>
    </div>

{% endblock %}