{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12">
                <h1 class="profile-un countach-font">
                    {{ username }}'s <i class="countach-light">Profile</i>
                </h1>
                <p class="profile-email countach-font">
                    {{ email }}
                </p>
        </div>
        <div class="col s12 center-align">
            <h3 class="countach-light purple-text text-darken-1 create-item-header">Create new item</h3>
            <a href="{{ url_for('create_item') }}" class="profile-update countach-light purple accent-2 waves-light btn" id="create-item" aria-label="Create item button"><i class="fa-solid fa-plus white-text"></i></a>
        </div>
        <div class="col s6 center-align profile-btn">
            <h4 class="countach-light purple-text text-darken-1">Update details</h4>
            <a href="{{ url_for('edit_details') }}" class="profile-update countach-font purple accent-2 waves-light btn" aria-label="Update details button" ><i class="fa-solid fa-gear white-text"></i></a>
        </div>
        <div class="col s6 center-align profile-btn">
            <h4 class="countach-light purple-text text-darken-1">Delete Account</h4>
            <a href="{{ url_for('delete_user') }}" class="profile-update countach-light purple accent-2 waves-light btn" aria-label="delete account button"><i class="fa-solid fa-trash white-text"></i></a>
        </div>
    </div>

    <div class="row user-items">
        <div class="col s12">
            <h2 class="profile-items-header countach-font purple-text text-darken-1 center-align">Your current listed Items</h2>
        </div>
            {% for item in items_for_sale %}
                {% if item.created_by == email %}
                <div class="col s5 m3 l2 item-card card-panel grey darken-3">
                    <p class="item-card-title item-bb center-align purple accent-3 countach-font">{{ item.item_name }}</p>
                    <p class="col s6 item-value-l item-bb item-br center-align countach-light white-text">Score</p>
                    <p class="col s6 item-value-r item-bb item-bl center-align countach-light white-text text-accent-2">{{ item.item_score }}</p>
                    <p class="col s6 item-value-l item-bb item-br center-align countach-light white-text">Damage</p>
                    <p class="col s6 item-value-r item-bb item-bl center-align white-text countach-light">{{ item.damage }}</p>
                    <p class="col s6 item-value-l item-bb item-br center-align countach-light white-text">Elemental</p>
                    <p class="col s6 item-value-r item-bb item-bl center-align white-text countach-light">{{ item.elemental }}</p>
                    <p class="col s6 item-value-l item-bb item-br center-align countach-light white-text">Accuracy</p>
                    <p class="col s6 item-value-r item-bb item-bl center-align white-text countach-light">{{ item.accuracy }}</p>
                    <p class="col s6 item-value-l item-br center-align countach-light white-text">Magazine Size</p>
                    <p class="col s6 item-value-r item-bl center-align white-text countach-light">{{ item.magazine_size }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}